th {
	border : thin solid black;
	padding : 2px;
}

td {
	border : thin solid black;
	padding : 2px;
}

table{
	border : thin solid black;
}

pre{
	 background: #F0F0F0;
}

code{
	 background: #F0F0F0;
}
